* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  color: #4e4b4b;
}

#app {
  --ts-picker-row-height: 30px;
  --ts-picker-rows: 5;
  --ts-list-rows: 0;
  --ts-ended-bar-height: 0%
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  padding: 8px 16px;
}

.head__icon {
  width: 24px;
}

.cls-1 {
  fill: #73a396;
}

.cls-2 {
  fill: #c2d0cc;
}

.body {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.tail {
  flex-shrink: 0;
}

.list {
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: relative;
}

.list:before {
  box-sizing: border-box;
  content: "";
  display: block;
  width: 4px;
  position: absolute;
  top: 18px;
  /* TODO: 変数 */
  height: calc((var(--ts-list-rows) - 1) * 42px);
  left: 22px;
  border: 1px solid rgba(194, 208, 204, 0.6);
  border-radius: 2px;
  background-image: linear-gradient(to bottom , rgba(194, 208, 204, 1) calc((var(--ts-ended-bar-height) - 1) * 42px), #fff calc((var(--ts-ended-bar-height) - 1) * 42px));
}

.list__item {
  position: relative;
  /*border-bottom: 1px solid rgba(194, 208, 204, 0.6);*/
}

.list__item:first-child {
  /*border-top: 1px solid rgba(194, 208, 204, 0.6);*/
}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
  transition: background-color .2s ease;
}

.item--selected {
  background-color: rgba(194, 208, 204, 0.1);
}

.item__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(194, 208, 204, 1);
  transition: all .2s ease;
  background-color: #fff;
}

.item__check i {
  font-size: 12px;
  color: rgba(194, 208, 204, 1);
  transition: all .2s ease;
}

.item__check--checked {
  background-color: rgba(194, 208, 204, 1);
}

.item__check--checked i {
  color: #fff;
}

.item__time {
  margin-right: 16px;
  font-size: 14px;
  cursor: pointer;
}

.item__text {
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}

.item__text input {
  padding: 4px;
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: inherit;
  appearance: none;
  color: inherit;
}

.item__text input::placeholder {
  opacity: .6;
}

.item__text input:focus {
  outline: none;
}

.item__delete {
  margin-left: auto;
  transition: all .2s ease;
  cursor: pointer;
}

.item__delete:active {
  transform: scale(.9);
  opacity: .8;

}

.item__delete i {
  display: block;
  color: #736d6d;
  font-size: 20px;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 24px 24px 0;
  transition: all .2s ease;
  cursor: pointer;
}

.add:active {
  transform: scale(.9);
  opacity: .8;
}

.add i {
  display: block;
  font-size: 56px;
  color: #c2d0cc;
}

.sheet {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .2s ease;
  background-color: rgba(0, 0, 0, .1);
  pointer-events: none;
}

.sheet--active {
  opacity: 1;
  pointer-events: auto;
}

.sheet__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  transform: translateY(100%);
  transition: all .2s ease;
  background-color: #fff;
}

.sheet--active .sheet__container {
  transform: translateY(0);
}

.wrap {
  display: flex;
  justify-content: center;
  height: calc(var(--ts-picker-row-height) * var(--ts-picker-rows));
  overflow: hidden;
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: var(--ts-picker-row-height);
  border-top: 1px solid rgba(194, 208, 204, 0.6);
  border-bottom: 1px solid rgba(194, 208, 204, 0.6);
  box-sizing: border-box;
}

.hour {
  padding: 0 24px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.hour::-webkit-scrollbar {
  display: none;
}

.hour__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--ts-picker-row-height);
  scroll-snap-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
}

.time {
  padding: 0 24px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  position: relative;
}

.time::-webkit-scrollbar {
  display: none;
}

.time__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--ts-picker-row-height);
  scroll-snap-align: center;
  transform-style: preserve-3d;
  cursor: pointer;
}

.save {
  height: 40px;
  line-height: 40px;
  margin: 16px 0 0;
  padding: 0 40px;
  background-color: #c2d0cc;
  border-radius: 20px;
  color: #fff;
  transition: all .2s ease;
  cursor: pointer;
}

.save:active {
  transform: scale(.9);
  opacity: .8;
}
