* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
}

#app {
  --ts-picker-row-height: 30px;
  --ts-picker-rows: 5;
}

#app {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.body {
  flex: 1;
  height: 100%;
  position: relative;
}

.tail {
  flex-shrink: 0;
}

.list {
  height: 100%;
  overflow: scroll;
}

.list__item {

}

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 16px;
}

.item--selected {
  background-color: aliceblue;
}

.item__time {
  margin-right: 16px;
}

.item__text {
  flex: 1;
  margin-right: 16px;
  font-size: 16px;
}

.item__text input {
  padding: 4px;
  width: 100%;
}

.item__delete {
  margin-left: auto;
}

.add {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 24px 24px 0;
}

.add i {
  font-size: 56px;
  color: aquamarine;
}

.sheet {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: all .2s ease;
  background-color: rgba(0, 0, 0, .2);
  pointer-events: none;
}

.sheet--active {
  opacity: 1;
  pointer-events: auto;
}

.sheet__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 16px 0;
  transform: translateY(100%);
  transition: all .2s ease;
  background-color: #fff;
}

.sheet--active .sheet__container {
  transform: translateY(0);
}

.wrap {
  display: flex;
  justify-content: center;
  height: calc(var(--ts-picker-row-height) * var(--ts-picker-rows));
  overflow: hidden;
  position: relative;
}

.wrap:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: var(--ts-picker-row-height);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
}

.hour {
  padding: 0 24px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  position: relative;
}

.hour__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--ts-picker-row-height);
  scroll-snap-align: center;
}

.time {
  padding: 0 24px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  scroll-snap-type: y mandatory;
  position: relative;
}

.time__item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--ts-picker-row-height);
  scroll-snap-align: center;
}

.save {
  height: 40px;
  line-height: 40px;
  margin: 16px 0 0;
  padding: 0 40px;
  background-color: darkseagreen;
  border-radius: 20px;
}
